apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: app-namespace
spec:
  type: ExternalName
  externalName: usermgmtdb.closcimyuuq0.ap-south-1.rds.amazonaws.com

---

apiVersion: v1
kind: Service
metadata:
  name: usermgmt-restapp-service
  namespace: app-namespace
  labels: 
    app: usermgmt-restapp
spec:
  type: NodePort
  selector:
    app: usermgmt-restapp
  ports: 
    - port: 8095
      targetPort: 8095
      nodePort: 31231

---

### This will create a Network Load Balancer (NLB) for the usermgmt-restapp service and targets are attached using IP addresses.
apiVersion: v1
kind: Service
metadata:
  name: usermgmt-restapp-nlb-service
  namespace: app-namespace
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb-ip"
    service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: "ip"
    # service.beta.kubernetes.io/aws-load-balancer-name: "eks-nlb"
    service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
spec:
  type: LoadBalancer
  selector:
    app: usermgmt-restapp
  ports:
    - port: 80
      targetPort: 8095
      protocol: TCP