apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: ums-mysql-rds-secrets
  namespace: app-namespace
spec:
  provider: aws
  parameters:
    objects: |
      - objectName: eks/ums/rds
        objectType: secretsmanager
        jmesPath:
          - path: host
            objectAlias: hostname
          - path: port
            objectAlias: port
          - path: dbname
            objectAlias: dbname
          - path: username
            objectAlias: username
          - path: password
            objectAlias: password
    usePodIdentity: "true"
  secretObjects:  # Not good to use below format, just for checking adding this
    - secretName: ums-mysql-rds-secrets-k8s
      type: Opaque
      data:
        - objectName: hostname
          key: DB_HOSTNAME
        - objectName: port
          key: DB_PORT
        - objectName: dbname
          key: DB_NAME
        - objectName: username
          key: DB_USERNAME
        - objectName: password
          key: DB_PASSWORD