apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: app-namespace
spec:
  type: ExternalName
  externalName: usermgmtdb.closcimyuuq0.ap-south-1.rds.amazonaws.com

---

apiVersion: v1
kind: Service
metadata:
  name: usermgmt-restapp-service
  namespace: app-namespace
  labels: 
    app: usermgmt-restapp
spec:
  type: NodePort
  selector:
    app: usermgmt-restapp
  ports: 
    - port: 8095
      targetPort: 8095
      nodePort: 31231